@charset "UTF-8";
/*
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center-footer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.custom-grey-bg {
    background-color: dimgrey;
}

body, html {
    height: 100%;
    width: 100%;
    margin: 0;
  }



.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
*/

.clearfix {
    overflow: auto !important;
}

.table-font {
    font-size: .8em !important;
}

/* override default column header */
th[role=columnheader]{
	border-bottom: 0!important;
}

.table{
	display: table;
}
.table > tbody > tr >{
	display:block!important;
}


.table > tbody > tr > td {
	display: table-cell !important;
	max-width: 300px!important;
}


.table > tbody > tr > td {

	overflow: hidden;
	word-wrap: break-word!important;
	white-space:normal!important;
	overflow: hidden!important;
	text-overflow: ellipsis!important;
	
	white-space: normal!important;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1!important;
}

/* hide the empty view column header */
/* categorized view */
.thead > tr > th:empty{
	display: none;
}
